.box {
  border-radius: 10px;
  height: 545px;
}

.resultBox {
  border-radius: 8px;
  border: solid;
  height: 380px;
  overflow: auto;
}

.input {
  border: none;
  background-color: rgba(58, 61, 66, 0.1);
}

.semi {
  font-size: 18px;
  line-height: 31px;
  color: #7a7886;
}

.miniTitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}

.pp {
  width: 55px;
  height: 55px;
  border-radius: 5px;
}

.noPP {
  border-radius: 5px;
}

.receiverName {
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.type {
  font-size: 14px;
  color: #7a7886;
  line-height: 30px;
}

@media (min-width: 997.98px) {
  .breakPoints {
    display: inline;
  }
  .breakPointsRev {
    display: none;
  }
}

@media (max-width: 997px) {
  .breakPoints {
    display: none;
  }
  .breakPointsRev {
    display: inline;
  }
}
